:host {
	display: block;
	overflow-x: hidden;
	scrollbar-gutter: stable;
}

// Submenu animation
.submenu {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition:
		max-height 200ms ease,
		opacity 120ms ease;

	&.open {
		max-height: 500px;
		opacity: 1;
	}

	.mat-mdc-list-item {
		margin-left: 1em;
	}
}

// Arrow
.arrow {
	display: flex;
	align-items: center;

	transition: transform 0.18s ease;

	&.open {
		transform: rotate(180deg);
	}
}

.mat-mdc-list-item {
	padding: 0.1rem;
	margin: 0.1rem;

	&:hover {
		background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
		.mat-icon {
			color: var(--primary-color);
		}
		[matListItemTitle] {
			color: var(--primary-color);
		}
	}
}

.active-parent {
	color: var(--primary-color);

	.mat-icon {
		color: var(--primary-color);
	}
	[matListItemTitle] {
		color: var(--primary-color);
	}
}

.full-active {
	background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
	.mat-icon {
		color: var(--primary-color);
	}
	[matListItemTitle] {
		color: var(--primary-color);
	}
}
