<mat-nav-list class="sidebar-nav">
	<!-- Loop main items -->
	@for (item of navItems; track $index) {
		@if (item.children) {
			<mat-list-item class="nav-item" (click)="toggle(item)">
				<mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
				<span matListItemTitle>{{ item.title }}</span>
				<span matListItemMeta>
					<mat-icon> {{ isOpen(item) ? "expand_less" : "expand_more" }} </mat-icon>
				</span>
			</mat-list-item>
		}

		@if (isOpen(item)) {
			@for (child of item.children; track $index) {
				<a
					mat-list-item
					class="nav-item sub-item"
					[routerLink]="child.route"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: item.match ?? false }"
				>
					<mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
					<span matListItemTitle>{{ child.title }}</span>
				</a>
			}
		}

		@if (!item.children) {
			<a
				mat-list-item
				class="nav-item"
				[routerLink]="item.route"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: item.match ?? false }"
			>
				<mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
				<span matListItemTitle>{{ item.title }}</span>
			</a>
		}
	}
</mat-nav-list>
