.disabled-btn {
	opacity: 0.6;
	cursor: not-allowed !important;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--mat-sys-outline-variant);
	border-radius: 4px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
	width: 4px !important;
}

.mat-drawer-inner-container::-webkit-scrollbar-thumb {
	background: var(--mat-sys-outline-variant) !important;
}

.w-100 {
	width: 100%;
}
.h-100 {
	height: 100%;
}
