@use "@angular/material" as mat;
@use "themes/light" as light;
@use "themes/dark" as dark;
@use "base/scrollbar";
@use "base/variables";
@use "base/material";

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* REQUIRED exactly once */
@include mat.core();

/* Theme classes */
.light-theme {
	@include mat.all-component-themes(light.$light-theme);
}

.dark-theme {
	@include mat.all-component-themes(dark.$dark-theme);
}
